.jb-table-cell-value{
    display: inline-block;
    border-collapse: collapse;
    font-size :9px;
    height: 30px;
    width: 36px;
}
.jb-table {
    width: 100%;
    overflow: auto;
    margin-bottom: 40px;
}
.jb-table-row {
    display: block;
    height: 30px;

}
.jb-table-cell {
    display: inline-block;
    height: 15px;
    width: 36px;
}

.jb-table-row-none{
    display: block;
    height: 15px;
    line-height:10px;
}

